DISCORD_TOKEN=
SEERR_API_KEY=

SEERR_URL=http://host.docker.internal:5055
SEERR_PUBLIC_URL=https://requests.example.com

JELLYFIN_API_KEY=
JELLYFIN_URL=http://host.docker.internal:8096
JELLYFIN_PUBLIC_URL=https://media.example.com
JELLYFIN_POLL_SECONDS=60

DB_PATH=/app/data/mediabot.db
REQUEST_UI_TIMEOUT=180
LOG_PATH=/app/data/mediabot.log
